body {
	background: url("../images/paisley.png");
}

h1 {
	text-align: center;
	font-family: 'Princess Sofia', cursive;
	font-size: 64px;
}

li {
	text-align: center;
	font-family: 'Princess Sofia', cursive;
	font-size: 30px;
	line-height: 70px;
}

img {
	position: relative;
	margin: auto;
	text-align: center;
}

#reveal {
	font-family: 'Princess Sofia', cursive;
	position: absolute;
	left: 48%;
    bottom: 10%;
}